@font-face {
  src: url("../fonts/SFProReg.ttf");
  font-family: "SFReg";
  font-weight: normal;
}

:root {
  --wallpaper: linear-gradient(
    to bottom right,
    red 0 14%,
    orange 14% 28%,
    yellow 28% 42%,
    green 42% 56%,
    blue 56% 70%,
    indigo 70% 84%,
    violet 84% 98%
  );
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-depth: 50px;
  --blur-depth: 10px;
}

html {
  --primary: skyblue;
  --secondary: #fff;
  --secondary-darker: #999;
  --bg: rgba(255, 255, 255, 0.5);
  --global-text-color: #333;
  --card-text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.5);
}

html[class="dark-theme"] {
  --primary: skyblue;
  --secondary: #222;
  --secondary-darker: #000;
  --bg: rgba(0, 0, 0, 0.5);
  --global-text-color: #f1f1f1;
  --card-text-color: #000;
  --border-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root,
  html,
  html[class="dark-theme"] {
    --primary: skyblue;
    --secondary: #222;
    --secondary-darker: #000;
    --bg: rgba(0, 0, 0, 0.5);
    --global-text-color: #f1f1f1;
    --card-text-color: #000;
    --border-color: rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  outline: none;
}

body {
  background: var(--wallpaper);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body,
button,
.input {
  color: var(--global-text-color);
  font-family: "SFReg";
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.notes-form,
.todos-form {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-radius: 5px;
  background: var(--secondary);
  -webkit-box-shadow: 0 5px 20px var(--secondary-darker);
          box-shadow: 0 5px 20px var(--secondary-darker);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.notes-form.active,
.todos-form.active {
  visibility: visible;
  opacity: 1;
  top: 20px;
}

.notes-form .input,
.todos-form .input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: solid 1px var(--border-color);
  display: block;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.notes-form .input:focus,
.todos-form .input:focus {
  border-color: var(--primary);
}

.notes-form .input.note-title,
.todos-form .input.note-title {
  font-size: 1.5rem;
}

.notes-form .form-controls,
.todos-form .form-controls {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes-form .form-controls .btn,
.todos-form .form-controls .btn {
  margin-left: 10px;
}

.btn {
  padding: 5px;
  display: block;
  border-radius: 3px;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#30aadc), to(skyblue));
  background: linear-gradient(to bottom right, #30aadc, skyblue);
  cursor: pointer;
}

.task-controls button {
  margin: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.task-controls .edit {
  color: orange;
}

.task-controls .delete {
  color: red;
}

.container {
  background: var(--bg);
  -webkit-backdrop-filter: blur(var(--blur-depth));
          backdrop-filter: blur(var(--blur-depth));
}

.analytics {
  padding: 10px;
}

.card,
.card-mini {
  margin: 10px auto;
  position: relative;
  color: var(--card-text-color);
  border-radius: 10px;
  border: solid 1px var(--border-color);
  overflow: hidden;
}

.card:hover .icon,
.card:focus .icon,
.card-mini:hover .icon,
.card-mini:focus .icon {
  display: block;
}

.card .icon,
.card-mini .icon {
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--card-text-color);
  display: none;
}

.card .icon:hover, .card .icon:focus,
.card-mini .icon:hover,
.card-mini .icon:focus {
  background: var(--bg);
}

.card .chart,
.card-mini .chart {
  color: var(--primary);
  position: relative;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.card .chart::before,
.card-mini .chart::before {
  content: attr(data-progress);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--secondary);
}

.card {
  padding: 20px 0;
}

.card .chart {
  margin: auto;
  height: 200px;
  width: 200px;
}

.card .chart::before {
  height: 185px;
  width: 185px;
  font-size: 3rem;
  line-height: 185px;
}

.card h1 {
  margin-top: 10px;
  text-align: center;
}

.card-mini {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-mini .chart {
  height: 80px;
  width: 80px;
}

.card-mini .chart::before {
  height: 70px;
  width: 70px;
  font-size: 1.2rem;
  line-height: 70px;
}

.context {
  background: var(--secondary);
}

.content {
  position: relative;
  line-height: 1.4rem;
}

.content::before {
  content: "";
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.content.overlay::before {
  visibility: visible;
  opacity: 1;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--bg);
  -webkit-backdrop-filter: blur(var(--blur-depth));
          backdrop-filter: blur(var(--blur-depth));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.navbar .nav-controls {
  height: 100%;
}

.navbar .nav-link {
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar .nav-link:hover:not(.active), .navbar .nav-link:focus:not(.active) {
  background: rgba(0, 0, 0, 0.1);
}

.navbar .nav-link.active {
  background: rgba(0, 0, 0, 0.3);
}

.navbar .nav-link span {
  display: none;
}

.navbar .nav-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .nav-actions .btn {
  margin: 0 5px;
  font-size: 0.7rem;
  display: none;
}

.navbar .nav-actions .btn.active {
  display: block;
}

.navbar .countdown {
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.theme-control {
  margin: 0 10px;
}

.theme-toggle {
  display: none;
}

.theme-toggle:checked ~ .theme-switch .switch {
  left: calc(100% - 20px);
}

.theme-switch {
  display: block;
  position: relative;
  padding: 5px;
  height: 25px;
  width: 40px;
  border: solid 1px var(--border-color);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.theme-switch .switch {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--primary);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media (prefers-color-scheme: dark) {
  .theme-control {
    display: none;
  }
  .countdown {
    margin-right: 10px;
  }
}

.content .tab-content {
  padding: 10px;
  height: 100%;
  position: relative;
  display: none;
}

.content .tab-content.active {
  display: block;
}

.content .spinner {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 4px rgba(0, 0, 0, 0.3);
  border-top-color: var(--primary);
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

.content .emptyContent {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  grid-column: 1 / span all;
  border-radius: 10px;
  display: none;
}

.content .emptyContent .fas {
  margin: auto;
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 3rem;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.content .projects,
.content .notes,
.content .todos {
  min-height: 300px;
}

.content .projects.empty,
.content .notes.empty,
.content .todos.empty {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.content .projects.empty .emptyContent,
.content .notes.empty .emptyContent,
.content .todos.empty .emptyContent {
  display: block;
}

.content .projects.empty .clear-todos,
.content .notes.empty .clear-todos,
.content .todos.empty .clear-todos {
  display: none;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.project .head {
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.project .body {
  padding: 10px;
}

.project .name {
  font-size: 1.4rem;
}

.project .links {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.project .links a {
  padding: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--global-text-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.1);
}

.project .links a span {
  margin: auto;
}

.project .links a:hover, .project .links a:focus {
  background: rgba(0, 0, 0, 0.2);
}

.notes {
  position: relative;
}

.notes .note {
  margin: 20px 0;
  border-radius: 10px;
  border: solid 1px var(--shadow-color);
  -webkit-box-shadow: 3px 3px 0 var(--shadow-color);
          box-shadow: 3px 3px 0 var(--shadow-color);
  background: var(--bg);
  overflow: hidden;
}

.notes .note:hover .task-controls,
.notes .note:focus .task-controls {
  display: block;
}

.notes .note .title,
.notes .note .text {
  padding: 10px;
}

.notes .note .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes .note .task-controls {
  display: none;
}

.todos .todo {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todos .todo:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.todos .todo:hover .task-controls,
.todos .todo:focus .task-controls {
  display: block;
}

.todos .todo .task-controls {
  display: none;
}

.todos .clear-todos {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
  }
  .btn {
    padding: 5px 10px;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 670px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
    -webkit-box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
            box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
    overflow: hidden;
  }
  .context {
    height: 100%;
    background: var(--secondary);
    overflow: hidden;
  }
  .content {
    height: calc(100% - 36px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .content::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .content::-webkit-scrollbar-button {
    display: none;
  }
  .content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    cursor: pointer;
  }
  .navbar .nav-link i {
    display: none;
  }
  .navbar .nav-link span {
    display: block;
  }
  .notes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .notes .note {
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
}
