@font-face {
  src: url("../fonts/SFProReg.ttf");
  font-family: "SFReg";
  font-weight: normal;
}

:root {
  --wallpaper: linear-gradient(
    to bottom right,
    red 0 14%,
    orange 14% 28%,
    yellow 28% 42%,
    green 42% 56%,
    blue 56% 70%,
    indigo 70% 84%,
    violet 84% 98%
  );
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-depth: 50px;
  --blur-depth: 10px;
}

html {
  --primary: skyblue;
  --secondary: #fff;
  --bg: rgba(255, 255, 255, 0.5);
  --global-text-color: #333;
  --card-text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.3);
}

html[class="dark-theme"] {
  --primary: skyblue;
  --secondary: #333;
  --bg: rgba(0, 0, 0, 0.5);
  --global-text-color: #f1f1f1;
  --card-text-color: #000;
  --border-color: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root,
  html,
  html[class="dark-theme"] {
    --primary: skyblue;
    --secondary: #333;
    --bg: rgba(0, 0, 0, 0.5);
    --global-text-color: #f1f1f1;
    --card-text-color: #000;
    --border-color: rgba(0, 0, 0, 0.3);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  outline: none;
}

body {
  background: var(--wallpaper);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body,
button,
input {
  color: var(--global-text-color);
  font-family: "SFReg";
}

.btn {
  padding: 5px;
  display: block;
  border-radius: 3px;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#30aadc), to(skyblue));
  background: linear-gradient(to bottom right, #30aadc, skyblue);
  cursor: pointer;
}

.task-controls button {
  margin: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.task-controls .edit {
  color: orange;
}

.task-controls .delete {
  color: red;
}

.container {
  background: var(--bg);
  -webkit-backdrop-filter: blur(var(--blur-depth));
          backdrop-filter: blur(var(--blur-depth));
}

.analytics {
  padding: 10px;
}

[class^="card"] {
  margin: 10px auto;
  position: relative;
  color: var(--card-text-color);
  border-radius: 10px;
  border: solid 1px var(--border-color);
  overflow: hidden;
}

[class^="card"] .icon {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--card-text-color);
}

[class^="card"] .icon:hover, [class^="card"] .icon:active, [class^="card"] .icon:focus {
  background: var(--bg);
}

[class^="card"] .chart {
  color: var(--primary);
  position: relative;
  border-radius: 50%;
}

[class^="card"] .chart::before {
  content: attr(data-progress);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--secondary);
}

.card {
  padding: 20px 0;
}

.card .chart {
  margin: auto;
  height: 200px;
  width: 200px;
}

.card .chart::before {
  height: 185px;
  width: 185px;
  font-size: 3rem;
  line-height: 185px;
}

.card h1 {
  margin-top: 10px;
  text-align: center;
}

.card-mini {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-mini .chart {
  height: 80px;
  width: 80px;
}

.card-mini .chart::before {
  height: 70px;
  width: 70px;
  font-size: 1.2rem;
  line-height: 70px;
}

.context {
  background: var(--secondary);
}

.content {
  padding: 10px;
  line-height: 1.4rem;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--bg);
  -webkit-backdrop-filter: blur(var(--blur-depth));
          backdrop-filter: blur(var(--blur-depth));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.navbar .tab-controls {
  height: 100%;
}

.navbar .tab-link {
  padding: 10px 20px;
  border: none;
  height: 100%;
  background: none;
  cursor: pointer;
}

.navbar .tab-link:hover:not(.active), .navbar .tab-link:active:not(.active), .navbar .tab-link:focus:not(.active) {
  background: rgba(0, 0, 0, 0.1);
}

.navbar .tab-link.active {
  background: rgba(0, 0, 0, 0.3);
}

.navbar .tab-link span {
  display: none;
}

.navbar .tab-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .tab-actions .btn {
  margin: 0 5px;
  font-size: 0.7rem;
  display: none;
}

.navbar .tab-actions .btn.active {
  display: block;
}

.navbar .countdown {
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  background: red;
}

.theme-control {
  margin: 0 10px;
}

.theme-toggle {
  display: none;
}

.theme-toggle:checked ~ .theme-switch .switch {
  left: calc(100% - 20px);
}

.theme-switch {
  display: block;
  position: relative;
  padding: 5px;
  height: 25px;
  width: 40px;
  border: solid 1px var(--border-color);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.theme-switch .switch {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--primary);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content .tab-content {
  display: none;
}

.content .tab-content.active {
  display: block;
}

.course {
  margin: 20px 0;
}

.course-name {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.course a {
  text-decoration: none;
  color: var(--global-text-color);
}

.course a:hover, .course a:active, .course a:focus {
  text-decoration: underline;
}

.course .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course span {
  margin: 0 10px;
  font-size: 0.8rem;
}

.course .progress-bar {
  height: 6px;
  width: 100%;
  border-radius: 25px;
  color: var(--global-text-color);
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.course .progress-bar .bar {
  height: 100%;
  text-align: center;
  background: var(--primary);
  border-radius: 25px;
}

.notes {
  position: relative;
}

.notes .btn {
  margin: 10px;
}

.notes .note {
  margin: 20px 0;
  -webkit-box-shadow: 0 5px 5px var(--shadow-color), 0 10px 0 -2px var(--bg), 0 15px 5px -4px var(--shadow-color), 0 20px 0 -6px var(--bg), 0 25px 5px -8px var(--shadow-color);
          box-shadow: 0 5px 5px var(--shadow-color), 0 10px 0 -2px var(--bg), 0 15px 5px -4px var(--shadow-color), 0 20px 0 -6px var(--bg), 0 25px 5px -8px var(--shadow-color);
  background: var(--bg);
  overflow: hidden;
}

.notes .note:hover .task-controls,
.notes .note:active .task-controls,
.notes .note:focus .task-controls {
  display: block;
}

.notes .note .title,
.notes .note .text {
  padding: 10px;
}

.notes .note .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes .note .task-controls {
  display: none;
}

.todos-container {
  padding: 10px;
}

.todos-container .todo {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todos-container .todo:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.todos-container .todo:hover .task-controls,
.todos-container .todo:active .task-controls,
.todos-container .todo:focus .task-controls {
  display: block;
}

.todos-container .todo .task-controls {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
  }
  .btn {
    padding: 5px 10px;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    max-height: 670px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
    -webkit-box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
            box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
  }
  .content {
    height: 620px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .content::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .content::-webkit-scrollbar-button {
    display: none;
  }
  .content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    cursor: pointer;
  }
  .navbar .tab-link {
    padding: 14px 28px;
  }
  .navbar .tab-link i {
    display: none;
  }
  .navbar .tab-link span {
    display: block;
  }
  .navbar .tab-actions .btn {
    font-size: 1rem;
  }
  .notes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .notes .note {
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    border-radius: 10px;
    overflow: hidden;
  }
}
