* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.2s ease;
  outline: none;
}

body {
  background: var(--wallpaper);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body,
button,
.input {
  color: var(--global-text-color);
  font-family: "SFReg";
}

.notes-form,
.todos-form {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-radius: 5px;
  background: var(--secondary);
  box-shadow: 0 5px 20px var(--secondary-darker);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.15s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    top: 20px;
  }

  .input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-bottom: solid 1px var(--border-color);
    display: block;
    transition: 0.15s ease-in-out;

    &:focus {
      border-color: var(--primary);
    }

    &.note-title {
      font-size: 1.5rem;
    }
  }

  .form-controls {
    float: right;
    display: flex;
    align-items: center;

    .btn {
      margin-left: 10px;
    }
  }
}

.btn {
  padding: 5px;
  display: block;
  border-radius: 3px;
  border: none;
  background: linear-gradient(to bottom right, darken(skyblue, 20%), skyblue);
  cursor: pointer;
}

.task-controls {
  button {
    margin: 0 5px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .edit {
    color: orange;
  }

  .delete {
    color: red;
  }
}

.container {
  background: var(--bg);
  backdrop-filter: blur(var(--blur-depth));
}

.analytics {
  padding: 10px;
}

div[class^="card"] {
  margin: 10px auto;
  position: relative;
  color: var(--card-text-color);
  border-radius: 10px;
  border: solid 1px var(--border-color);
  overflow: hidden;

  .icon {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--card-text-color);

    &:hover,
    &:active,
    &:focus {
      background: var(--bg);
    }
  }

  .chart {
    color: var(--primary);
    position: relative;
    border-radius: 50%;

    &::before {
      content: attr(data-progress);
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--secondary);
    }
  }
}

.card {
  padding: 20px 0;

  .chart {
    margin: auto;
    height: 200px;
    width: 200px;

    &::before {
      height: 185px;
      width: 185px;
      font-size: 3rem;
      line-height: 185px;
    }
  }

  h1 {
    margin-top: 10px;
    text-align: center;
  }

  &-mini {
    padding: 10px;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;

    .chart {
      height: 80px;
      width: 80px;

      &::before {
        height: 70px;
        width: 70px;
        font-size: 1.2rem;
        line-height: 70px;
      }
    }
  }
}

.context {
  background: var(--secondary);
}

.content {
  position: relative;
  line-height: 1.4rem;

  &::before {
    content: "";
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.15s ease-in-out;
  }

  &.overlay {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);
  backdrop-filter: blur(var(--blur-depth));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .tab {
    &-controls {
      height: 100%;
    }

    &-link {
      padding: 10px 20px;
      border: none;
      height: 100%;
      background: none;
      cursor: pointer;

      &:hover:not(.active),
      &:active:not(.active),
      &:focus:not(.active) {
        background: rgba(0, 0, 0, 0.1);
      }

      &.active {
        background: rgba(0, 0, 0, 0.3);
      }

      span {
        display: none;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .btn {
        margin: 0 5px;
        font-size: 0.7rem;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .countdown {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    background: red;
  }
}

.theme {
  &-control {
    margin: 0 10px;
  }

  &-toggle {
    display: none;
  }

  &-toggle:checked ~ &-switch .switch {
    left: calc(100% - 20px);
  }

  &-switch {
    display: block;
    position: relative;
    padding: 5px;
    height: 25px;
    width: 40px;
    border: solid 1px var(--border-color);
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;

    .switch {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: var(--primary);
      transition: 0.2s ease;
    }
  }
}

.content .tab-content {
  padding: 10px;
  position: relative;
  display: none;

  &.active {
    display: block;
  }
}

.course {
  margin: 20px 0;

  &-name {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    color: var(--global-text-color);

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  .progress {
    display: flex;
    align-items: center;
  }

  span {
    margin: 0 10px;
    font-size: 0.8rem;
  }

  .progress-bar {
    height: 6px;
    width: 100%;
    border-radius: 25px;
    color: var(--global-text-color);
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .bar {
      height: 100%;
      text-align: center;
      background: var(--primary);
      border-radius: 25px;
    }
  }
}

.notes {
  position: relative;

  .note {
    margin: 20px 0;
    box-shadow: 0 5px 5px var(--shadow-color), 0 10px 0 -2px var(--bg),
      0 15px 5px -4px var(--shadow-color), 0 20px 0 -6px var(--bg),
      0 25px 5px -8px var(--shadow-color);
    background: var(--bg);
    overflow: hidden;

    &:hover .task-controls,
    &:active .task-controls,
    &:focus .task-controls {
      display: block;
    }

    .title,
    .text {
      padding: 10px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .task-controls {
      display: none;
    }
  }
}

.todos {
  padding: 10px;

  .todo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(odd) {
      background: rgba(0, 0, 0, 0.1);
    }

    &:hover .task-controls,
    &:active .task-controls,
    &:focus .task-controls {
      display: block;
    }

    .task-controls {
      display: none;
    }
  }
}

@media screen and (min-width: $md) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .btn {
    padding: 5px 10px;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    max-height: 670px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px auto;
    box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
  }

  .content {
    height: 620px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 25px;
      cursor: pointer;
    }
  }

  .navbar .tab {
    &-link {
      padding: 14px 28px;

      i {
        display: none;
      }

      span {
        display: block;
      }
    }
  }

  .notes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .note {
      margin: 10px;
    }
  }
}

@media screen and (min-width: $lg) {
  .container {
    border-radius: 10px;
    overflow: hidden;
  }
}
