$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

:root {
  --wallpaper: linear-gradient(
    to bottom right,
    red 0 14%,
    orange 14% 28%,
    yellow 28% 42%,
    green 42% 56%,
    blue 56% 70%,
    indigo 70% 84%,
    violet 84% 98%
  );
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-depth: 50px;
  --blur-depth: 10px;
}

html {
  --primary: skyblue;
  --secondary: #fff;
  --secondary-darker: #ccc;
  --bg: rgba(255, 255, 255, 0.5);
  --global-text-color: #333;
  --card-text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.5);
}

html[class="dark-theme"] {
  --primary: skyblue;
  --secondary: #222;
  --secondary-darker: #000;
  --bg: rgba(0, 0, 0, 0.5);
  --global-text-color: #f1f1f1;
  --card-text-color: #000;
  --border-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root,
  html,
  html[class="dark-theme"] {
    --primary: skyblue;
    --secondary: #222;
    --secondary-darker: #000;
    --bg: rgba(0, 0, 0, 0.5);
    --global-text-color: #f1f1f1;
    --card-text-color: #000;
    --border-color: rgba(0, 0, 0, 0.5);
  }
}
