@font-face {
  src: url("../fonts/SFProReg.ttf");
  font-family: "SFReg";
  font-weight: normal;
}

:root {
  --wallpaper: linear-gradient(
    to bottom right,
    red 0 14%,
    orange 14% 28%,
    yellow 28% 42%,
    green 42% 56%,
    blue 56% 70%,
    indigo 70% 84%,
    violet 84% 98%
  );
  --shadow-color: rgba(0, 0, 0, 0.2);
  --blur-depth: 15px;
  --blur-depth: 50px;
}

html {
  --global-text-color: #444;
  --card-text-color: #fff;
  --chart-bg: #fff;
  --chart-accent-color: skyblue;
  --container-bg: rgba(255, 255, 255, 0.3);
  --border-color: rgba(255, 255, 255, 0.3);
  --context-bg: #fff;
}

html[class="dark-theme"] {
  --global-text-color: #f1f1f1;
  --card-text-color: #000;
  --chart-bg: #333;
  --chart-accent-color: skyblue;
  --container-bg: rgba(0, 0, 0, 0.3);
  --border-color: rgba(0, 0, 0, 0.3);
  --context-bg: #333;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

body,
button,
input {
  color: var(--global-text-color);
  font-family: "SFReg";
}

body {
  background: var(--wallpaper);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background: var(--container-bg);
  -webkit-backdrop-filter: blur(var(--blur-depth));
          backdrop-filter: blur(var(--blur-depth));
  -webkit-box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
          box-shadow: 0 0 var(--shadow-depth) var(--shadow-color);
}

.analytics {
  padding: 10px;
}

[class^="card"] {
  margin: 10px auto;
  border-radius: 10px;
  color: var(--card-text-color);
  border: solid 1px var(--border-color);
}

[class^="card"] .chart {
  color: var(--chart-accent-color);
  position: relative;
  border-radius: 50%;
}

[class^="card"] .chart::before {
  content: attr(data-progress);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--chart-bg);
}

.card {
  padding: 20px 0;
}

.card .chart {
  margin: auto;
  height: 200px;
  width: 200px;
}

.card .chart::before {
  height: 185px;
  width: 185px;
  font-size: 3rem;
  line-height: 185px;
}

.card h1 {
  margin-top: 10px;
  text-align: center;
}

.card-mini {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-mini .chart {
  height: 80px;
  width: 80px;
}

.card-mini .chart::before {
  height: 70px;
  width: 70px;
  font-size: 1.2rem;
  line-height: 70px;
}

.context {
  background: var(--context-bg);
}

.content {
  padding: 10px;
  line-height: 1.4rem;
}

.tab {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  background: var(--container-bg);
  -webkit-backdrop-filter: blur(var(--blur-depth));
          backdrop-filter: blur(var(--blur-depth));
}

.tab-controls {
  height: 100%;
}

.tab-link {
  padding: 12px 20px;
  border: none;
  height: 100%;
  background: none;
}

.tab-link.active {
  background: rgba(0, 0, 0, 0.3);
}

.theme-control {
  margin: 0 10px;
  top: 20px;
  right: 20px;
}

.theme-toggle {
  display: none;
}

.theme-toggle:checked ~ .theme-switch .switch {
  left: calc(100% - 20px);
}

.theme-switch {
  display: block;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 25px;
  background: var(--chart-bg);
  overflow: hidden;
}

.theme-switch .switch {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--chart-accent-color);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .container {
    width: 100%;
    max-width: 1000px;
    min-height: 600px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
  }
  .theme-control {
    position: static;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    border-radius: 10px;
    overflow: hidden;
  }
}
